127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.3.5 project.loc srvweb
192.168.3.14 firewall
192.168.3.6 srvbam
192.168.3.7 srvmysql
192.168.3.8 backupmysql
