Country Name (2 letter code) [AU]:BY
State or Province Name (full name) [Some-State]:Minsk
Locality Name (eg, city) []:Minsk
Organization Name (eg, company) [Internet Widgits Pty Ltd]:OTUS
Organizational Unit Name (eg, section) []:OTUS
Common Name (e.g. server FQDN or YOUR name) []:192.168.3.5
Email Address []:admin@test.by
