#Conf for add log from remote hosts
#dynafile - генерируем динамическое имя файла/папки на основе используемых переменных в шаблонах (%hostname%/%fromhost-ip%)



#Фильтр входящего потока по tag = nginx_error, ошибки с сервера nginx
if $syslogtag == 'nginx_error'  then {
    # write to file
#    action(type="omfile" dynafile="path_nginx_error" template="OnlyMsg")
    action(type="omfile" dynafile="path_nginx_error")

}

if $syslogtag == 'nginx_access'  then {
    # write to file
#    action(type="omfile" dynafile="path_nginx_access" template="OnlyMsg")
    action(type="omfile" dynafile="path_nginx_access")

}
